<div ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Posting</h2>
            <span flex></span>
            <md-button class="md-button" ng-click="back()">
                Home
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding"> 
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Basic" ng-click="currentTab('basic')">
                <md-content class="md-padding">
                   <div ng-include src="'/posting/forms/basic.html'"></div>  
                </md-content>
            </md-tab>
            <md-tab label="Visual Acuity" ng-click="currentTab('visual')">
                <md-content class="md-padding">
                    <div ng-include src="'/posting/forms/visual.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Keratometry & More" ng-click="currentTab('keratometry')">
                <md-content class="md-padding">
                </md-content>
            </md-tab>
            <md-tab label="Diagnosis" ng-click="currentTab('diagnosis')">
                <md-content class="md-padding">
                    <div ng-include src="'/posting/forms/diagonisis.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Intervention" ng-click="currentTab('intervention')">
                <md-content class="md-padding">
                    <div ng-include src="'/posting/forms/interventions.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Learning" ng-click="currentTab('learning')">
                <md-content class="md-padding">
                    <div ng-include src="'/posting/forms/learning.html'"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content> 
</div>