<form name="postingForm">
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>MRD No</label>
            <input name="mrdNo" ng-model="posting.mrdNo" required> 
            <div ng-messages="postingForm.mrdNo.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter MRD No</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Name</label>
            <input name="name" ng-model="posting.name" required> 
            <div ng-messages="postingForm.name.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give your full name</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <md-radio-group ng-model="posting.gender">
                <md-radio-button value="Male" class="md-primary">Male</md-radio-button>
                <md-radio-button value="Female" class="md-primary">Female</md-radio-button>
            </md-radio-group> 
            <div ng-messages="postingForm.gender.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please select your gender</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Age</label>
            <input type="number" name="age" ng-model="posting.age" md-placeholder="Enter your age" required>
            <div ng-messages="postingForm.age.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your age</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Purpose of Visit</label>
            <input type="text" name="purpose" ng-model="posting.purpose" required> 
            <div ng-messages="postingForm.purpose.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give purpose of visit.</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Chief Complaints</label>
            <input type="text" name="complaint" ng-model="posting.complaint" required> 
            <div ng-messages="postingForm.complaint.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give complaint details.</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Past Ocular History</label>
            <input type="text" name="history" ng-model="posting.history" required> 
            <div ng-messages="postingForm.history.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give past ocular history.</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Current Medications</label>
            <input type="text" name="currentMedication" ng-model="posting.currentMedication" > 
            <div ng-messages="postingForm.currentMedication.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give current medication information</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Past Medical History</label>
            <input type="text" name="medicalHistory" ng-model="posting.medicalHistory" > 
            <div ng-messages="postingForm.medicalHistory.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give past medical history information</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Recent Investigation</label>
            <input type="text" name="recentInvestigation" ng-model="posting.recentInvestigation" > 
            <div ng-messages="postingForm.recentInvestigation.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give recent investigation information</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Family History</label>
            <input type="text" name="familyHistory" ng-model="posting.familyHistory" > 
            <div ng-messages="postingForm.familyHistory.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give family history information</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Birth History</label>
            <input type="text" name="birthHistory" ng-model="posting.birthHistory" > 
            <div ng-messages="postingForm.birthHistory.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give birth history information</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="row"> 
        <md-input-container flex> 
            <label>Allergy History</label>
            <input type="text" name="allergyHistory" ng-model="posting.allergyHistory" > 
            <div ng-messages="postingForm.allergyHistory.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please give allergy history information</div>
            </div>
        </md-input-container>
    </div>
    <span flex></span> 
    <md-button ng-click="cancel()"> Cancel </md-button> 
    <md-button ng-disabled="!postingForm.$valid" ng-click="savePosting()" class="md-primary"> Save </md-button>
</form>