<form name="userForm">
    <div layout layout-sm="row"> 
        <md-input-container flex>
            <label>Interventions</label>
            <textarea ng-model="user.intervention" name="intervention" md-maxlength="250" rows="5" cols="10" md-select-on-focus></textarea>
            <div ng-messages="userForm.intervention.$error"  role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter intervention information</div>
            </div>
        </md-input-container>
    </div>
    <span flex></span> 
    <md-button ng-click="cancel()"> Cancel </md-button> 
    <md-button ng-disabled="!userForm.$valid" ng-click="updateProfile()" class="md-primary"> Save </md-button>
</form>