<md-dialog aria-label="Posting"> 
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Posting</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="assets/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding"> 
        <md-list-item ng-repeat="posting in postingMenu">
            <p style="cursor:pointer; width: 400px;" ng-click="createPosting('{{posting.id}}')"> {{ posting.name }} </p>
        </md-list-item>
    </md-content> 
    <md-dialog-actions>
        <span flex></span> 
        <md-button ng-click="cancel()"> Close </md-button> 
    </md-dialog-actions>
</md-dialog>